@model HRProjectApplication.Models.VMs.CompanyDetailsVM

@{
    ViewData["Title"] = "Company Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3>Company Details</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"></h3>
            <form class="form-sample">
                <p class="card-description"></p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Company Name</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.CompanyName" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.Address" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.PhoneNumber" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tax Office</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.TaxOffice" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tax Number</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.TaxNumber" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contact Person</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.ContactPerson" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Number of Employees</label>
                            <div class="col-sm-9">
                                <input type="text" value="@Model.NumberOfEmployees" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Web Site</label>
                            <div class="col-sm-9">
                                <input type="text" value="https://grup2hrapp.azurewebsites.net/" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <div>
            <br />
            <b>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                <a asp-controller="Company" asp-action="Create">Create New</a>
            </b>
            <br /><br />
            <b>
                <a asp-controller="Home" asp-action="Index">Back to Dashboard</a>
            </b>
        </div>
    }

</body>
</html>
